<button [routerLink]="['/plants']">Tornar a les plantes</button>

@if (selectedPlant().name != "") {
    <button [routerLink]="['/plants', previousPlantName()]">Anterior</button>
    <img [src]="selectedPlant().image" [alt]="selectedPlant().name + ' Image'">
    <p>{{ selectedPlant().name }}</p>
    <p>{{ selectedPlant().description }}</p>
    <p>{{ selectedPlant().cost }}</p>
    <p>{{ selectedPlant().damage }}</p>
    <p>{{ selectedPlant().family }}</p>
    <p>{{ selectedPlant().recharge }}</p>
    <button [routerLink]="['/plants', nextPlantName()]">Seguent</button>
} @else {
    <p>No plant was found related to the search</p>
}