<div style="background-image: url('images/backgrounds/home_background.png')" class="bg-cover bg-no-repeat h-screen w-full flex flex-col justify-center items-center">
    
    <div class="flex justify-center flex-wrap gap-x-25 gap-y-10 items-center mt-40">
        
        <div class="w-120 h-80 bg-[#90441C] border-[#90441C] border-18 rounded-2xl shadow-2xl">
            <div class="flex flex-col gap-6 justify-center items-center bg-[#6A3011] h-[100%] rounded-2xl shadow-[inset_0_4px_11px_rgba(0,0,0,0.4)]">
                <img src="images/assets/sunflower_home.webp" alt="Sunflower" class="w-25">
                <button [routerLink]="['/plants']" class="w-fit bg-[#8E431A] hover:bg-[#84401b] text-center text-xl px-6 py-2 font-semibold text-[#E9BB63] rounded shadow-[inset_0_4px_14px_rgba(0,0,0,0.5)] shadow-md cursor-pointer">View Plants</button>
            </div>
        </div>

        <div class="w-120 h-80 bg-[#5C5F7D] border-[#5C5F7D] border-18 rounded-2xl shadow-2xl">
            <div class="flex flex-col gap-6 justify-center items-center bg-[#202535] h-[100%] rounded-2xl shadow-[inset_0_4px_11px_rgba(0,0,0,0.4)]">
                <img src="images/assets/zombie_home.webp" alt="Zombie" class="w-22">
                <button [routerLink]="['/zombies']" class="w-fit bg-[#5F6180] hover:bg-[#585a72] text-center text-xl px-6 py-2 font-semibold text-[#00CC00] rounded shadow-[inset_0_4px_10px_rgba(0,0,0,0.5)] shadow-2xl cursor-pointer">View Zombies</button>
            </div>
        </div>

    </div>
    <img src="images/pvz2-api-logo.png" alt="PvZ 2 API Logo" class="w-[255px] mt-5">
</div>