<div style="background-image: url('images/backgrounds/zombies_background.jpg')" class="bg-cover bg-[center_40%] bg-fixed bg-no-repeat min-h-screen w-full">

    <div class="flex flex-col justify-center items-center">
        <div class="flex gap-x-20 ml-18 h-45">
            <button [routerLink]="['/home']">
                <img src="images/assets/home_icon.webp" alt="Home Page Icon" class="w-20 min-w-[80px] cursor-pointer">
            </button>
            
            <img src="images/pvz2-api-logo.png" alt="PvZ 2 API Logo" class="w-70">
            
            <button [routerLink]="['/plants']">
                <img src="images/assets/zombies_icon.png" alt="Plants Page Icon" class="w-26 min-w-[100px] cursor-pointer">
            </button>    
        </div>

        <div class="relative">
            <h2>
                <img src="images/assets/plants/plants_title.png" alt="Plants title" class="w-60">
            </h2>
            
            <!-- <button (click)="cleanAllFilters()">
                <img src="images/assets/plants/plants_clean_button.png" alt="Clear Filters Button" class="absolute left-[268px] w-18 cursor-pointer">
            </button> -->
        </div>
    
        <!-- CERCADOR -->
        <input [(ngModel)]="zombieNameSearch" placeholder="Search zombie by name..." class="w-70 my-5 bg-white border-3 border-gray-500 px-2 py-1 rounded-2xl shadow-2xl">
        
        <!-- FILTRES -->
        <div class="flex justify-center items-center gap-x-12 my-5 [&_label]:text-white [&_label]:font-semibold">

            <div class="flex gap-4 w-[200px]">
                <label for="toughness-filter">Toughness</label>

                <select [(ngModel)]="toughnessFilterSelected" id="toughness-filter" class="bg-white rounded w-[100px]">
                    @for (filter of toughnessFilters(); track $index) {
                        <option [value]="filter.value">{{ filter.label }}</option>
                    }
                </select>
            </div>

            <div class="flex gap-4 w-[200px]">
                <label for="speed-filter">Speed</label>
                
                <select [(ngModel)]="speedFilterSelected" id="speed-filter" class="bg-white rounded w-[100px]">
                    @for (filter of speedFilters(); track $index) {
                        <option [value]="filter.value">{{ filter.label }}</option>
                    }
                </select>
            </div>

            <div class="flex gap-4 w-[200px]">
                <label for="stamina-filter">Stamina</label>
                
                <select [(ngModel)]="staminaFilterSelected" id="stamina-filter" class="bg-white rounded w-[100px]">
                    @for (filter of staminaFilters(); track $index) {
                        <option [value]="filter.value">{{ filter.label }}</option>
                    }
                </select>
            </div>
        </div>
        
        <!-- GRID DE CARDS -->
        <div class="w-[80%] my-5 flex flex-wrap gap-10 justify-center">

            @if (areAnyResultsInSearch()) {
                @for (zombie of filteredZombiesAlmanac(); track $index) {
                    <div [routerLink]="[(zombie.apiName)]" class="relative hover:-translate-y-3 transition-transform duration-400 cursor-pointer">

                        <div class="relative w-[250px] h-[310px] bg-[#90421B] border-2 border-[#4C1705] rounded-xl shadow-[inset_0_4px_11px_rgba(0,0,0,0.4)] overflow-hidden">
                            
                            <div class="my-5">
                                
                                <div class="flex justify-center bg-[#6C3112] mx-5 py-3 border-2 border-[#4C1705] rounded-xl shadow-[inset_0_4px_11px_rgba(0,0,0,0.4)]">
                                    <img [src]="zombie.image" [alt]="zombie.name + ' Image'">
                                </div>
                                
                                <h3 class="text-center text-2xl font-semibold my-2 text-[#E9BB63]">{{ zombie.name }}</h3>
                                
                                <div class="flex justify-center border-box h-25 bg-[#FCC689] mx-5 py-3 px-2 border-2 border-[#4C1705] rounded-xl line-clamp-1">
                                    <p>{{ zombie.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            } @else {
                <div class="relative">
                    <img src="images/assets/plants/plants_no_found.png" alt="Plant Not Found" class="w-30 absolute left-[-45px]">
                    <p class="text-xl text-[#E9BB63] font-semibold bg-[#90421B] p-4 pl-20 border-[#6C3112] border-6 rounded-2xl shadow-[inset_0_4px_15px_rgba(0,0,0,0.2)]">No results where found related to the search</p>
                </div>
            }
        </div>
    </div>
</div>