<div class="">
    <button [routerLink]="['/home']">Home</button>
    <img src="images/pvz2-api-logo.png" alt="PvZ 2 API Logo" class="w-[230px]">
    <button [routerLink]="['/zombies']">View Zombies</button>    
</div>
<h2>Catàlog de Plantes</h2>
@for (plant of plantsAlmanac(); track $index) {
    <div [routerLink]="[(plant.name)]" class="border-1">
        <p>{{ plant.cost }}</p>

        <div class="">
            <img [src]="plant.image" [alt]="plant.name + ' Image'">
        </div>

        <h3>{{ plant.name }}</h3>

        <div class="">
            <p>{{ plant.description }}</p>
        </div>
    </div>
}