.scrollbar-hide-both {
  overflow: auto;             /* permite scroll en ambos ejes */
  -ms-overflow-style: none;   /* IE y Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hide-both::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
